@tailwind base;
@tailwind components;
@tailwind utilities;

/* fade */

.fade-in {
    animation: fade-in 300ms cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-out {
    animation: fade-out 300ms cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

/* pop */

.pop-in {
    animation: pop-in 300ms cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

@keyframes pop-in {
    from {
        scale: 0;
    }
    to {
        scale: 1;
    }
}

.pop-out {
    animation: pop-out 300ms cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

@keyframes pop-out {
    from {
        scale: 1;
    }
    to {
        scale: 0;
    }
}

/* Combined Fade and Pop */

.pop-fade-in {
    animation: pop-fade-in 300ms cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

@keyframes pop-fade-in {
    from {
        opacity: 0;
        scale: 0.8;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.pop-fade-out {
    animation: pop-fade-out 300ms cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

@keyframes pop-fade-out {
    from {
        opacity: 1;
        scale: 1;
    }
    to {
        opacity: 0;
        scale: 0.8;
    }
}

/* blur */

.blur-in {
    animation: blur-in 500ms cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

@keyframes blur-in {
    from {
        backdrop-filter: blur(0px);
    }
    to {
        backdrop-filter: blur(10px);
    }
}

.blur-out {
    animation: blur-out 500ms cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

@keyframes blur-out {
    from {
        backdrop-filter: blur(10px);
    }
    to {
        backdrop-filter: blur(0px);
    }
}

/* slide */

.slide-in-top {
    animation: slide-in-top 300ms cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

@keyframes slide-in-top {
    from {
        transform: translateY(-15px);
    }
    to {
        transform: translateY(0px);
    }
}

  
.animate-gradient-text {
    @apply  bg-clip-text  text-transparent;
    background-image: linear-gradient(to right, rgb(133, 133, 133) 35%, white 50%, rgb(133, 133, 133) 65%);
    background-size: 150% 150%;
    animation: gradient 5s linear infinite;
}

@keyframes gradient {
    0% {
      background-position: 300% 50%;
    }
    /* 50% {
      background-position: 100% 50%;
    } */
    100% {
      background-position: 0% 50%;
    }
}